
<div>
    <ol id="pokemonList" class="pokemons">
        <!-- ..... Pokemons here ..... -->
        <li class="pokemon {{type}}">
            <span class="number">#{{adicionaZero()}}</span>
            <span class="name">{{pokemon}}</span>
    
        <div class="detail {{type}}">
            <ol class="types {{type}}">
                <li class="type {{type}}" *ngFor="let type of types">{{type}}</li>
            </ol>
    
            <img [src]="photo"
                alt="">
        </div>
        </li>
    </ol>
</div>
