
<div>
    <ol id="pokemonList" class="pokemons">
        <!-- ..... Pokemons here ..... -->
        <li class="pokemon grass">
            <span class="number grass">#001</span>
            <span class="name grass">{{pokemon}}</span>
    
        <div class="detail grass grass">
            <ol class="types grass">
                <li class="type grass">Grass</li>
                <li class="type poison">Poison</li>
            </ol>
    
            <img [src]="pegarImagemPokemon()"
                alt="">
        </div>
        </li>
    </ol>
</div>
