<div class="container-content">
    <div class="content-box">
        <div>
            <h1 class="content-title">Bulbasaur</h1>
        </div>

        <div class="content-img">
            <img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/other/dream-world/1.svg"
                alt="">
        </div>

        <li class="">
            <span class="">#001</span>
        <div class="">
            <ol class="">
                <li class="">Grass</li>
                <li class="">Poison</li>
            </ol>
        </div>
        </li>
    </div>
</div>
